/*ユーザーのマイページのcss~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*1つ目の縦の箱 */
.show_box {
	background-color: grey;
	height: 800px;
	width: 30%;
	margin: 1%;
	display: inline-block;
	vertical-align: top;
}

/*1つ目の縦のboxの中の出品商品の箱*/
.show_product_box {
	background-color: green;
	height: 200px;
	margin: 2px;
}

/*出品商品の一覧の画像の箱*/
.show_image {

}

/*チャットの表示画面の箱*/
.show_chat_box1 {
	margin: 5% 5% 3% 5%;
	height: 390px;
	background-color: #F2F2F2;
}


/*チャットの内容入力の箱*/
.show_chat_box2 {
	margin: 0% 5% 2% 5%;
}

/*チャット内容のフォームの大きさ*/
.show_chat_box2_form {
	width: 98.5%;
	height: 115px;
}



/*チャットの送信ボタンの箱*/
.show_chat_box3 {
	margin: 0% 5% 2% 80%;
}


/*チャットの送信ボタン*/
.show_chat_box2_btn {
	width: 100%;
	padding: 20px;
	font-size: 30px;
}


























